<html>
    <head>
        <title>Neo's Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="hand spock icon"></i>Neo Blogs</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">Add New Blogs</a>
            </div>
        </div>